*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  color: #777777;
  letter-spacing: 0.2rem;
  padding: 5rem;
  font-size: 1.6rem;
  background-color: #fff;
}

.container {
  background-color: #f7f7f7;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header-img.jpeg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  position: absolute;
  left: 5rem;
  top: 5rem;
  height: 7rem;
  widows: 5.6rem;
}
.header__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.title-first {
  color: white;
}
.title-first__main {
  display: block;
  font-weight: 800;
  font-size: 5rem;
  line-height: 6rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 1rem;
  animation-name: leftToRight;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  backface-visibility: hidden;
}
.title-first__secondary {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.5rem;
  animation-name: rightToLeft;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
  margin-bottom: 5rem;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  padding: 1.5rem 4rem;
  background-color: white;
  border-radius: 5rem;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  animation-name: downToUp;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-timing-function: ease;
  backface-visibility: hidden;
  font-size: 2rem;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}
.btn:hover::after {
  opacity: 0;
  transform: scaleX(1.5) scaleY(1.7);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.1);
}
.btn::after {
  content: "";
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 5rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  opacity: 1;
}
.btn_animated {
  animation: downToUp 2s ease 1s;
  animation-fill-mode: backwards;
}

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes downToUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */