//Text color
$color-gray: #777777

//Main colors
$color-brown-light: #BA8554
$-color-brown-dark: #a14f03

//Black and white
$color-white: #fff
$color-black: #0000

//Shadow for buttons
$box-shadow: 0rem .4rem .4rem 0rem rgba(0, 0, 0, 0.3)
