*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    font-family: 'Roboto'
    font-weight: 400
    color: #777777
    letter-spacing: 2px
    padding: 50px
    background-color: #fff

.container 
    background-color: #f7f7f7

.header
    height: 95vh
    background: linear-gradient(90deg, rgba(186, 133, 84, 0.70) 0.03%, rgba(1, 1, 1, 0.70) 99.94%), url(../img/header-img.jpeg) center / cover no-repeat 
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%) //practice
    //https://bennettfeely.com/clippy/