$color-gray: #777777
$color-brown-light: #BA8554
$-color-brown-dark: #a14f03
$color-white: #fff
$color-black: #0000

$box-shadow: 0rem .4rem .4rem 0rem rgba(0, 0, 0, 0.3)

@mixin style-link($color)
    text-transform: uppercase
    text-decoration: none
    color: $color
    display: inline-block

// @function multiply($a, $b)
//     @return $a * $b

*, ::after, ::before
    padding: 0
    margin: 0
    box-sizing: border-box

html
    font-size: 62.5%

body
    font-family: 'Roboto'
    font-weight: 400
    color: $color-gray
    letter-spacing: 0.2rem
    padding: 5rem
    // padding: multiply(25, 2) * 1px
    font-size: 1.6rem
    background-color: $color-white

.container 
    //! background-color: darken(#f7f7f7, 30%) потемнее!
    //! background-color: lighten(#f7f7f7, 10%) посветлее
    // background-color: transparentize(#f7f7f7, .1)
    background-color: #f7f7f7

.header
    position: relative
    height: 95vh
    background: linear-gradient(90deg, rgba($color-brown-light, 0.70) 0.03%, rgba($color-black, 0.70) 99.94%), url(../img/header-img.jpeg) center / cover no-repeat 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%)
    // clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%) //practice
    //https://bennettfeely.com/clippy/
    
    &__logo
        position: absolute
        left: 5rem
        top: 5rem
        height: 7rem
        widows: 5.6rem
    &__box
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100%
        text-align: center

.title-first
    color: $color-white

    &__main
        display: block
        font-weight: 800
        font-size: 5rem
        line-height: 6rem
        text-transform: uppercase
        letter-spacing: 1rem
        margin-bottom: 1rem
        animation-name: leftToRight
        animation-duration: 2s
        animation-delay: 1s
        animation-timing-function: ease
        animation-fill-mode: backwards
        backface-visibility: hidden
 
    &__secondary
        display: block
        font-size: 4rem
        font-weight: 300
        line-height: normal
        letter-spacing: 0.5rem
        animation-name: rightToLeft
        animation-duration: 2s
        animation-delay: 1s
        animation-timing-function: ease
        backface-visibility: hidden
        animation-fill-mode: backwards
        margin-bottom: 5rem

.btn
    &:link, &:visited
        @include style-link($color-gray)
        padding: 1.5rem 4rem
        background-color: $color-white
        border-radius: 5rem
        transition: all .3s
        position: relative
        font-size: 2rem
    &:hover
        transform: translateY(-0.4rem)
        box-shadow: $box-shadow
        &::after
            opacity: 0
            transform: scaleX(1.5) scaleY(1.7)
    &:active
        transform: translateY(-.2rem)
        box-shadow: $box-shadow
    &::after
       content: '' 
       background: $color-white
       height: 100%
       width: 100%
       border-radius: 5rem
       display: inline-block
       position: absolute
       top: 0
       left: 0
       z-index: -1
       transition: all .4s
       opacity: 1
    &_animated
        animation: downToUp 2s ease 1s
        animation-fill-mode: backwards
        backface-visibility: hidden

        

@keyframes leftToRight
    0%
        opacity: 0
        transform: translateX(-10rem)

    80%
        transform: translateX(2rem)

    100%
        opacity: 1
        transform: translateX(0)

@keyframes rightToLeft
    0%
        opacity: 0
        transform: translateX(10rem)

    80%
        transform: translateX(-2rem)

    100%
        opacity: 1
        transform: translateX(0)

@keyframes downToUp
    0%
        opacity: 0
        transform: translateY(5rem)
    100%
        opacity: 1
        transform: translateY(0)