body
    font-family: 'Roboto'
    font-weight: 400
    color: $color-gray
    letter-spacing: 0.2rem
    font-size: $font-size-paragraph
    
    
.title-first
    color: $color-white

    &__main
        display: block
        font-weight: 800
        font-size: 5rem
        line-height: 6rem
        text-transform: uppercase
        letter-spacing: 1rem
        margin-bottom: 1rem
        animation-name: leftToRight
        animation-duration: 2s
        animation-delay: 1s
        animation-timing-function: ease
        animation-fill-mode: backwards
        backface-visibility: hidden
 
    &__secondary
        display: block
        font-size: 4rem
        font-weight: 300
        line-height: normal
        letter-spacing: 0.5rem
        animation-name: rightToLeft
        animation-duration: 2s
        animation-delay: 1s
        animation-timing-function: ease
        backface-visibility: hidden
        animation-fill-mode: backwards
        margin-bottom: 5rem

.title-secondary
    display: inline-block
    font-size: $font-size-paragraph-h2
    letter-spacing: 1rem
    text-transform: uppercase
    font-weight: 800
    background: linear-gradient(90deg, rgba($color-brown-light, 0.70) 0.03%, rgba($-color-brown-dark, 0.70) 99.94%)
    background-clip: text
    color: transparent
    backface-visibility: hidden
    transition: all .3s
    &:hover
        transform: skewY(2deg) skewX(15deg) scale(1.1)
        text-shadow: $shadow-h2

.title-third
    font-size: $font-size-paragraph-h3
    font-weight: 700
    letter-spacing: .2rem
    text-transform: uppercase

.paragraph
    font-size: $font-size-paragraph
    font-weight: 400
    line-height: 140%
    letter-spacing: .2rem